<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.tieba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application android:allowBackup="true" >
        <meta-data
            android:name="PLUGIN_MIN_VERSIONCODE"
            android:value="44" />
        <activity
            android:name="com.baidu.tbadk.browser.TbWebViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/swipeback_activity_style"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.baidu.tieba.UpdateDialog"
            android:screenOrientation="portrait"
            android:theme="@style/UpdateStyle" >
        </activity>
        <activity
            android:name="com.baidu.tbadk.coreExtra.NoNetworkMoreActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/swipeback_activity_style"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
		<activity 
		    android:name="com.baidu.tbadk.plugin.PluginErrorTipActivity"
		    android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/swipeback_activity_style"
            android:windowSoftInputMode="adjustResize|stateHidden" 
            />
        <service
            android:name="com.baidu.tieba.service.TiebaUpdateService"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tieba.service.ClearTempService"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tieba.service.FatalErrorService"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tieba.service.AsInstallService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tieba.service.TiebaSyncService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tieba.service.SyncLoginService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tbadk.coreExtra.service.DealIntentService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tbadk.coreExtra.service.LocationReportService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tieba.service.TiebaActiveService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tbadk.core.service.TiebaPrepareImageService"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tbadk.core.diskCache.ImagesInvalidService"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.baidu.tieba.service.UpdateInfoService"
            android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.tbadk.core.voice.service.MediaService"
            android:enabled="true" />
        <service
            android:name="com.baidu.tieba.service.HandleSSOService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.baidu.tieba.sso.HandleSSOService" />
            </intent-filter>
        </service>

        <receiver android:name="com.baidu.tbadk.TiebaSocketReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.tbadk.commonReceiver.PackageChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.tbadk.core.diskCache.ImagesInvalidReceiver" >
        </receiver>
        <receiver android:name="com.baidu.tieba.service.TiebaReceiver" >
            <intent-filter>
                <action android:name="com.baidu.tieba.broadcast.service" />
                <action android:name="com.baidu.tieba.broadcast.sync" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.tieba.service.SignAlertReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.baidu.tieba.broadcast.signalert" />

                <data android:scheme="tieba_sign" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.tieba.service.SDCardChangeReceiver" >
            <intent-filter android:priority="1000" >
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.tieba.service.WebNativeReceiver" />
        <service 
            android:name="com.baidu.tbadk.core.frameworkData.RemoteActivityProxyService"
            android:enabled="true"
            android:process=":remote">
        </service>
        <service
            android:name="com.baidu.tbadk.core.frameworkData.XiaoyingActivityProxyService"
            android:enabled="true"
            android:process=":xiaoying">
        </service>
    </application>

</manifest>