<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mivideo.mifm">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"></supports-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="3.0" />

        <activity
            android:name=".SplashActivity"
            android:excludeFromRecents="${excludeFromRecents}"
            android:launchMode="${launchMode}"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection|mnc|mcc"
            android:excludeFromRecents="${excludeFromRecents}"
            android:label="@string/app_name"
            android:launchMode="${mainLaunchMode}"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="${scheme}" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".push.XiaomiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".EulaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- 升级 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.selfupdate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".DownApkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
            </intent-filter>
        </receiver>

        <!-- 升级 -->
        <provider
            android:name=".MyFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- share sdk -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106062968" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="${launchMode}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

        <activity
            android:name="com.mivideo.mifm.wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />

        <provider
            android:name="com.mivideo.mifm.cpplugin.HostProvider"
            android:authorities="com.mivideo.mifm.auth.HOST_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mivideo.mifm.action.HOST_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".EntryActivity"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="play"
                    android:scheme="${scheme}" />
            </intent-filter>
        </activity>

        <receiver android:name=".player.manager.AudioReceiver">
            <intent-filter>
                <action android:name="com.mivideo.mifm.notify.pause" />
                <action android:name="com.mivideo.mifm.notify.play" />
                <action android:name="com.mivideo.mifm.notify.next" />
                <action android:name="com.mivideo.mifm.notify.last" />
            </intent-filter>
        </receiver>

        <!--&lt;!&ndash; test only &ndash;&gt;-->
        <!--<activity-->
        <!--android:name=".PlayerTestActivity"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"-->
        <!--android:launchMode="standard">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data-->
        <!--android:host="playtest"-->
        <!--android:scheme="${scheme}" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; test only &ndash;&gt;-->
        <!--&lt;!&ndash; 调起命令 &ndash;&gt;-->
        <!--&lt;!&ndash; adb shell am start -a android.intent.action.VIEW -d mifm://mediaplayer?videoId=xxx &ndash;&gt;-->
        <!--&lt;!&ndash; videoId可以随便写，因为目前内部处理的url是写死的，是: http://obj.auto-learning.com/354e1487-18e6-4ad0-8980-24dc299be00f &ndash;&gt;-->
        <!--<activity-->
        <!--android:name=".MediaPlayerActivity"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"-->
        <!--android:launchMode="standard">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data-->
        <!--android:host="mediaplayer"-->
        <!--android:scheme="${scheme}" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
    </application>
</manifest>
